<div id="slider" data-section="home">
		<div class="owl-carousel owl-carousel-fullwidth">

		    <div class="item" style="background-image:url(images/background.jpg)">
		    	<div class="overlay"></div>
		    	<div class="container" style="position: relative;">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2 text-center">
		    				<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
		    						<h1 class="fh5co-lead to-animate">Fusion Salon</h1>
									<h2 class="fh5co-sub-lead to-animate">A Contemporary Hair Salon</h3>
								
								</div>
							</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		    
		    <div class="item" style="background-image:url(images/background1.jpg)">
		    	<div class="overlay"></div>
		    	<div class="container" style="position: relative;">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2 text-center">
		    				<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
		    						<h1 class="fh5co-lead to-animate">Fusion Salon</h1>
									<h2 class="fh5co-sub-lead to-animate">A Contemporary Hair Salon</h3>
								
								</div>
							</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		    
		    <div class="item" style="background-image:url(images/background2.jpg)">
		    	<div class="overlay"></div>
		    	<div class="container" style="position: relative;">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2 text-center">
		    				<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
		    						<h1 class="fh5co-lead to-animate">Fusion Salon</h1>
									<h2 class="fh5co-sub-lead to-animate">A Contemporary Hair Salon</h3>
								
								</div>
							</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>

		</div>
	</div>
	
	<!--<div data-section="home">-->
	<!--	    <img id="background-image" src="/images/background.jpg" />-->
	<!--	    <div id="background"></div>-->
	<!--	    <div id="site-home">-->
	<!--	    	<div class="overlay"></div>-->
	<!--	    	<div class="container" style="position: relative;">-->
	<!--	    		<div class="row">-->
	<!--	    			<div class="col-md-8 col-md-offset-2 text-center">-->
	<!--	    				<div class="text-wrapper">-->
	<!--					    	<div class="text-content">-->
	<!--	    						<h1 class="lead animated fadeInUp editable">Fusion Salon</h1>-->
	<!--								<h2 class="sub-lead animated fadeInUp editable">A Contemporary Hair Salon</h2></div>-->
	<!--						</div>-->
	<!--	    			</div>-->
	<!--	    		</div>-->
	<!--	    	</div>-->