<div data-section="home">
		    <img id="background" src="images/background.jpg" />
		    <div id="site-home">
		    	<div class="overlay"></div>
		    	<div class="container" style="position: relative;">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2 text-center">
		    				<div class="text-wrapper">
						    	<div class="text-content">
		    						<h1 class="lead animated fadeInUp editable">Fusion Salon</h1>
									<h2 class="sub-lead animated fadeInUp editable">A Contemporary Hair Salon</h2></div>
							</div>
		    			</div>
		    		</div>
		    	</div>
	</div></div>