	<div id="fh5co-about-us" data-section="stylists">
		<div class="container">
			<div class="row" id="team">
				<div class="col-md-12 section-heading text-center to-animate">
					<h2 class="editable">Stylists</h2>
				</div>
					    
				  {% for stylist in site.stylists %}
						
                  {% endfor %}
				
				<div class="col-md-12">
					<div class="row row-bottom-padded-sm">
					    
				  {% for stylist in site.stylists %}
						<div class="col-md-4 text-center to-animate">
							<div class="person">
								<img src="{{ stylist.profile_image_path }}" class="img-responsive img-rounded" alt="Person" />
								<h3 class="name">{{ stylist.name }}</h3>
								<!--<div class="position">Web Developer</div>-->
								<p> {{ stylist.mini-bio }} </p>
								<a href="{{ stylist.url }}"> Learn More </a>
								<!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#aboutModal{{forloop.index}}">
                                  Launch demo modal 
                                </button>
                                
							</div>
						</div>
                        <!-- Modal -->
                        <div class="modal fade" id="aboutModal{{forloop.index}}" tabindex="-1" role="dialog" aria-labelledby="{{ stylist.name }}">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="{{ stylist.name }}">{{ stylist.name }}</h4>
                              </div>
                              <div class="modal-body">
                                ...
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                              </div>
                            </div>
                          </div>
                        </div>
                  {% endfor %}
					    
						<!--<div class="col-md-4 text-center to-animate">-->
						<!--	<div class="person">-->
						<!--		<img src="images/person2.jpg" class="img-responsive img-rounded" alt="Person" />-->
						<!--		<h3 class="name">John Doe</h3>-->
						<!--		<div class="position">Web Developer</div>-->
						<!--		<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>-->
						<!--		<ul class="social social-circle">-->
						<!--			<li><a href="#"><i class="icon-twitter"></i></a></li>-->
						<!--			<li><a href="#"><i class="icon-linkedin"></i></a></li>-->
						<!--			<li><a href="#"><i class="icon-instagram"></i></a></li>-->
						<!--			<li><a href="#"><i class="icon-github"></i></a></li>-->
						<!--		</ul>-->
						<!--	</div>-->
						<!--</div>-->
						
						<!--<div class="col-md-4 text-center to-animate">-->
						<!--	<div class="person">-->
						<!--		<img src="images/person3.jpg" class="img-responsive img-rounded" alt="Person" />-->
						<!--		<h3 class="name">Rob Smith</h3>-->
						<!--		<div class="position">Web Designer</div>-->
						<!--		<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>-->
						<!--		<ul class="social social-circle">-->
						<!--			<li><a href="#"><i class="icon-twitter"></i></a></li>-->
						<!--			<li><a href="#"><i class="icon-linkedin"></i></a></li>-->
						<!--			<li><a href="#"><i class="icon-instagram"></i></a></li>-->
						<!--			<li><a href="#"><i class="icon-dribbble"></i></a></li>-->
						<!--		</ul>-->
						<!--	</div>-->
						<!--</div>-->
						
						<!--<div class="col-md-4 text-center to-animate">-->
						<!--	<div class="person">-->
						<!--		<img src="images/person4.jpg" class="img-responsive img-rounded" alt="Person" />-->
						<!--		<h3 class="name">John Doe</h3>-->
						<!--		<div class="position">Photographer</div>-->
						<!--		<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>-->
						<!--		<ul class="social social-circle">-->
						<!--			<li><a href="#"><i class="icon-twitter"></i></a></li>-->
						<!--			<li><a href="#"><i class="icon-linkedin"></i></a></li>-->
						<!--			<li><a href="#"><i class="icon-instagram"></i></a></li>-->
						<!--			<li><a href="#"><i class="icon-github"></i></a></li>-->
						<!--		</ul>-->
						<!--	</div>-->
						<!--</div>-->
						
					</div>
				</div>
			</div>
		</div>
	</div>