---
layout: default
---

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="/{{ page.profile_image_path }}" alt="{{ page.name }}" class="img-responsive" >
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{ page.name }}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
			
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
			   {{ page.bio }}
            </div>
		</div>
	</div>
</div>
<br>
<br>